<li class = "project-item">
    <article>
        <div class = "project-summary">
            <div class = "project-image">
                <img src = "{{ image }}" alt = "{{ title }}">
            </div>
            <div class = "project-details">
                <h3>{{ title }}</h3>
                <address> {{location}}</address>
                <p> {{category}} </p>

            </div>
        </div>
        <div class = "project-actions">
            <a href = "{% url 'project-detail' project_item.slug %}" class = "btn"> More Details</a>
        </div>
    </article>
</li>